name: Upload Artifacts

on:
    push:   

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3 

            - name: Create a file
              run: echo "This is a sample artifact file." > artifact.txt

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: sample-artifact
                path: artifact.txt